* {
    margin : 0;
    padding: 0;
}

html,
body {
    width                     : 100%;
    height                    : 100%;
    overflow-x                : hidden;
    overflow-y                : scroll;
    -webkit-overflow-scrolling: touch;
}

.main {
    max-width : 3000px;
    background: rgb(119, 182, 151);
    padding   : 30px 10px;
    margin    : auto;
    position  : relative;
    box-shadow: 2px 2px 10px 5px #555;
    overflow  : hidden;
}

.swiper-container {
    width: 100%;
    margin-top: 20px;
}

.float-text{
    display: none;
    position: fixed;
    top: 20%;
    transform-origin: center center;
    /* background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text; */
    color: #fffa65;
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
    word-break: break-all;
    width: 100%;
    z-index: 99999;
    /* font-weight: bold; */
    animation: float 1s linear infinite;
}
@keyframes float {
    0% {
        transform: perspective(1px) scale(1);
    }
    50% {
        transform: perspective(1px) scale(1.5);
    }
    100% {
        transform: perspective(1px) scale(1);
    }
}
/* @keyframes page_welcome {
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1);
    }
    100%{
        opacity: 0;
    }
}
@keyframes page_rotate {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes page_rotateY {
0% {
    transform: rotateY(0deg);
}
29%, 71% {
    transform: rotateY(180deg);
}
100% {
    transform: rotateY(360deg);
}
}
body.opr-texiao-welcome {
animation: page_welcome 2s;
}
body.opr-texiao-rotate {
animation: page_rotate 4s ease-out;
}
body.opr-texiao-rotateY {
animation: page_rotateY 5s ease-in-out;
}*/

.search_box{
border:1px solid #a5a5a5;
width:50%;
height:38px;
font:normal 16px/38px "consolas","微软雅黑",sans-serif;
color:#a5a5a5;
padding: 0 8px;
margin-left:20%;
}
.search_box:focus{
border:1px solid #49f;
color:#333;
}
.search_btn{
width: 100px;
height: 40px;
color: white;
font-size: 15px;
letter-spacing: 1px;
background: #3385ff;
border:none;
border-bottom: 1px solid #2d78f4;
outline: medium;
-webkit-appearance: none;
cursor: pointer;
margin-left:-5px;

}
.search_btn:hover{
background:#317ef3;
border-bottom: 1px solid #2868c8;
box-shadow: 1px 1px 1px #ccc;
} 